#Register{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/food14.jpg');
    height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-group{
    /* border:1px solid black; */
    height:30px;
}
.form-group input{
    width:100%;
    height:100%;
    padding-left: 5px;
}
.form-group button{
    width: 100%;
    height:100%;
    color:white;
    background-color: var(--primary-color);
    border:none;
}
.form-group button:hover{
    cursor: pointer;
}
.container-Register{
    /* border: 1px solid black; */
    padding:100px;
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 5px 5px 5px black;
}
.Register-form{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.Register-form input:focus{
    outline: none;
}
.Register-h2{
    font-family: var(--font-heading);
}
.Register-p{
    font-family: var(--font-ui);
}
.Register-btn{
    font-family: var(--font-ui);
}
.form-p{
    font-family: var(--font-ui);
}
.form-p a{
    text-decoration: none;
    color:black
}
.form-p a:hover{
    text-decoration: underline;
}